.auth-layout {
    height: 100vh;

    .row {
        height: 100%;

        .auth-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
        }
    }
    &__form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fefefe;

        .login {
        }

        form {
            width: 400px;
            padding: 1rem;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.61);
            border-radius: 1rem;
        }
    }
}
